<!-- Footer -->
<footer class="page-footer font-small text-light bg-red pt-2 mt-4 ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

  <!-- Footer Links -->
    <ul class="list-group list-group-horizontal list-unstyled text-center">
        <li class="px-2 mx-auto"> <a href="{% url 'about' %}">About Us</a> </li>
        <li class="px-2 mx-auto"> <a href="{% url 'about' %}">Contact Us</a> </li>
    </ul>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> The Bargain Gamer</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->