{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-2">
    <h4>What is The Bargain Gamer?</h4>
    <p>We are a platform dedicated towards bringing you news about the latest game sales and cheapest video games prices. You can look at the latest listed sales on the home page or search for your favourite video game above!</p>

    <h4>How does it work?</h4>
    <p>Our team of developers use a combination of computer automation and human research in order to populate our database with the most up-to-date prices and information.</p>

    <h4>Contact</h4>
    <p>If you have any general enquiries please email support@thebargaingamer.com</p>
</div>
{% endblock %}